@model bai3.Models.Product
@using Microsoft.AspNetCore.Mvc.Rendering
@{
    ViewData["Title"] = "Add Product";
}
        </div>
    </div>
                    </div>

                        </div>
                    </div>

                    </div>

                            <option value="">-- Select a category --</option>
                        </select>
                    </div>
                </div>

                    </button>
                    </a>
                </div>
                    </div>
        </div>
    </div>
</div>

@section Scripts {
            }
}